html,
body {
  height: 100%;
}

/* styles for page*/

.well {
  background-color: #0a0909;
  color: #84b2bc !important;
}

.myHeader {
  background-color: #161b22;
  color: #84b2bc !important;
  /* height: 10vh; */
  min-height: 10vh;
}

.mainContainer {
  background-color:#0d1117;
  color: #e6e6e6;
  height: 100vh;
  padding: 5%;
}

.myName {
  color: #d19a66;
}
.myTitle {
  color: #c678dd;
}

.logo-link:link {
  color: #84b2bc;
}
.logo-link:visited {
  color: #84b2bc;
}
.logo-link:hover {
  color: #6ee4ff;
}

/* .custom-toggler {
  background-color: black;
} */


#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

